/* css index */
body {background-color: #fff8d6;}
h1, h2 {color: rgb(71, 71, 71);}
    .external {
        color: rgb(16, 158, 163);
        text-indent: 50px;
        text-align: justify;
    }
    .foto-saya {
        width : 250px;
        height: 250px;
        object-fit: cover;
    }
    #foto-saya {
        height: 70vh;
    }
    .title {
        font-family: 'Raleway', sans-serif;
    }
    .subtitle {
        letter-spacing: 10px;
    }
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    /* css portofolio */
body {background-color: #fff7cc; }
.hamud {
    color:rgb(75, 74, 74);
    font-family: 'Raleway', sans-serif;
}
    


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}
